//// PRIMARY COLORS
$graphite: #222;
$white: #fff;
$main-black: #000;
$red: #e54322;

//// SECONDARY COLORS
$dark-gray: #464547;

/* Main Colors */
$pale-text-red: #be3316;
$orange: #e67e17;
$orange-dark: #89370e;

/* Gray */
$gray5: #fafafc;
$gray10: #f5f6fa;
$gray20: #ebedf5;
$gray30: #e1e3eb;
$gray40: #ced0db;
$gray50: #acafbf;
$gray60: #6c6f80;
$gray70: #474a59;
$gray80: #303240;
$gray90: #1d1e26;
