<div class="pagination">
    <div class="pagination__pages">
        <button [disabled]="pageIndex === 1" (click)="onPreviousPage()">
            <img src="assets/angle-left-solid.svg" alt="left arrow">
        </button>
        <div class="pages">
            <div (click)="onPageSelect($event)"
                    class="pages__item box"
                    *ngFor="let page of pages"
                    [attr.data-page]="page"
            >
                {{ page }}
            </div>
        </div>
        <button [disabled]="pageIndex === totalPages" (click)="onNextPage()">
            <img src="assets/angle-right-solid.svg" alt="right arrow">
        </button>
    </div>

</div>
