<div class="pagination">
    <div class="pagination__pages">
        <button [ngClass]="pageIndex === 0 ? 'disabled' : ''" (click)="onPreviousPage()">
            <img src="assets/angle-left-solid.svg" alt="left arrow">
        </button>
        <div class="pages">
            <div (click)="onPageSelect($event)"
                 class="pages__item box"
                 *ngFor="let page of pages"
                 [ngClass]="pageIndex+1 === page ? 'checked' : ''"
                 [attr.data-page]="page"
            >
                {{ page }}
            </div>
        </div>
        <button [ngClass]="pageIndex === totalPages-1 ? 'disabled' : ''" (click)="onNextPage()">
            <img src="assets/angle-right-solid.svg" alt="right arrow">
        </button>
    </div>
</div>
