@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: $main-text;
  background-color: $main-black;
  color: $white;
}

button,
a {
  cursor: pointer;
  transition: .3s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                 supported by Chrome, Edge, Opera and Firefox */
}

input[type=number] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  @include media-breakpoint-between('min', 'xs') {
    height: 100%;
    width: 100%;
  }
  @include media-breakpoint-between('s', 's') {
    height: 100%;
    width: 100%;
  }
  @include media-breakpoint-between('md', 'md') {
    height: 100%;
    width: 720px;
  }
  @include media-breakpoint-between(lg, lg) {
    height: 100%;
    width: 960px;
  }

  @include media-breakpoint-between(lg1, lg1) {
    height: 100%;
    width: 1140px;
  }

  @include media-breakpoint-between(lg2, xlg) {
    height: 100%;
    width: 1320px;
  }
}
