@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .app-container {
    flex: 1 1 auto;
    align-self: center;
    padding: 15px;
  }
}
