<div class="footer">
    <img class="footer__logo" src="assets/logo.png" alt="logo">
    <ul class="footer__nav">
        <li routerLink="/home"><a>Home</a></li>
        <li><a>Terms of Use</a></li>
        <li><a>Legal Notices</a></li>
        <li><a>Help</a></li>
        <li><a>Manage Account</a></li>
    </ul>
    <div class="footer__platforms">
        <img src="assets/app%20store.png" alt="App store icon">
        <img src="assets/google-play.png" alt="Google pay icon">
    </div>
    <p>Copyright 2020 Dreadful Tomato Streaming. All Rights Reserved</p>
</div>
